@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");


:root {
    --cor-de-fundo: #eeeeee;
    --branco: #c28888;
    --laranja: #811010;
    --azul-degrade: linear-gradient(97.54deg, #5a1717 35.49%, #da8383 165.37%);
    --fonte-principal: "Poppins";
    --azul: #750d0d;
    --fonte-secundario: "Josefin Sans";
    --preto: #5e1010;
    --cinza: #af0808;
    --cinza-claro: #720606;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}